<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/adminDashboard.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
         {% include 'adminSidebar.html' %}

        <!-- Main Content -->
        <main class="main-content">
            <h2 class="welcome">Welcome {{admin.name}}</h2>
            <p>It will contain recent activites of the project.</p>
        </main>
    </div>
</body>
</html>